<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--bootstrap css-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!--sbb CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Hello, Sbb!</title>
</head>
<body>
<!--네비게이션 바 -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<!-- 기본 템플릿 안에 삽일될 내용 Start-->
<th:block layout:fragment="content"></th:block>
<!--기본 템플릿 안에 삽인될 내용 END-->
<!-- 부트스트랩 자바스크립트-->
<script th:src="@{/bootstrap.min.js}"></script>
<!-- 자바스크립트-->
<th:block layout:fragment="script"></th:block>
</body>
</html>